autom4te.cache
config.h
config.log
config.status
config.guess
config.sub
cscope.out
stamp-h1
tags
*.[oa]
*.so
*.la
*.lo
cmake_install.cmake
CMakeFiles
CMakeCache.txt
*~
Makefile.in
Makefile
.deps
.obj
.libs
TAGS
ylwrap
frei0r.pc
doc/html
